#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  margin: 0 -10px;
}
.card-container-1 {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  margin: 10px;
  justify-content: center;
  margin: 0 -10px;
}

.card {
  background-color: antiquewhite;
  color: black;
  border: 2px solid red;
  border-radius: 10px;
  padding: 15px;
  margin: 10px auto;
  max-width: 200px;
}

.card-1 {
  background-color: gray;
  color: black;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  margin: 10px 10px;
  max-width: 200px;
}
